#title {
	margin: 10%;
}

#btnStart {
	height:40px;
	width:200px;
	background-color: #d57f7f;
	border-radius:40px;
	font-size: 20px;
	font-weight:bold;
	color: #ffffff;
	font-family: Arial,Helvetica,sans-serif;
	margin: 10% 45%;
	display: inline-block;
	text-align: center;
	padding:20px 0 0px 0;
}


#btnStart span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
}

#btnStart span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  
}

#btnStart:hover span {
  padding-right: 25px;
}

#btnStart:hover span:after {
  opacity: 1;
  right: 0;
}


h1{
	position: fixed
	top:300px;
	font-family: Arial,sans-serif;
	text-align: center;
}


#waveform {
	position: relative;
	width: 80%;
	border: 2px solid black;
	margin: auto;
}
#tags{
	position: relative;
	width: 80%;
	margin: auto;
	height: 100px;
	

}


#canvas {
	position: relative;
	border: 1px solid black;
	


}

#btnGroup1{	
	position: relative;
	width: 30%;
	left: 1000px;
  	
	
  	

}

#btnGroup2{
	position: relative;
	width: 50%;
	margin: auto;
	top: 50px;

}
#btnGroup2: hover{
	background-color: #c6d9ec;
}

.btnTag {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  cursor: pointer;

}

/*
.btnTag:focus{
	outline: 2px dashed blue;
}
*/


.btnPlay{
  height: 70px;
  width:70px;
  background-color: white; 

  
  
  cursor: pointer;
}

#btnPlay{
width:70px;
height:70px;


}
section{
	position: relative;
	top: 86px;
  	left:450px;
	
}

#demo{
	position: relative;
	left:600px;
	top: 57px;
	width: 100px;
	
}

input[type="range"] {
	position: relative;
	top: 65px;
	left:800px;
	border: 2px solid black;
}


.slidecontainer{
	position: relative;
	
	border: 2px solid black;
	top: 100px;
	left: 150px;
	
}
button{
	border: none;

}

#btnUnknown{
	background-color: #4EC5DB;
}

#btnNOI{
	background-color: #EE6B6C;

}

#btnBird{
	background-color:#F8DD62;

}

#btnHuman{
	background-color: #4FBE95;
}

#btnDelete{
	position: relative;
	right: -1300px;
	background-color: #B8D8D8;
	top: -400px;
	font-size: 15px;
}
#btnSubmit{
	position: relative;
	left: 80%;
	background-color: #B8D8D8;
	top: 100px;
	font-size: 20px;
}
#btnNext{
	position: relative;
	right: -1150px;
	background-color: #B8D8D8;
	top: 100px;
	font-size: 20px;
}
#btnReturn{
	position: relative;
	right: 0px;
	background-color: #B8D8D8;
	top: 100px;
	font-size: 20px;
}

#info {
	margin: auto;
}
