h1{
	height:300px;
	font-family: Arial,sans-serif;
	text-align: center;
}


#waveform {
	position: relative;
	width: 80%;
	border: 2px solid black;
	margin: auto;
}
#tags{
	position: relative;
	width: 80%;
	
	margin: auto;
	height: 200px;
	

}


#canvas {
	position: relative;
	border: 1px solid black;
	


}

#btnGroup1{	
	position: relative;
	width: 30%;
	left: 1000px;
  	
	
  	

}

#btnGroup2{
	position: relative;
	width: 50%;
	margin: auto;
	top: 50px;

}


.btnTag {
  background-color: #4CAF50; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: auto;
  cursor: pointer;
}


.btnPlay{
  height: 70px;
  width:70px;
  background-color: white; 

  
  
  cursor: pointer;
}

#btnPlay{
width:70px;
height:70px;


}
section{
	position: relative;
	top: 86px;
  	left:450px;
	
}

#demo{
	position: relative;
	left:600px;
	top: 57px;
	width: 100px;
	background-color: grey; 
}

input[type="range"] {
	position: relative;
	top: 65px;
	left:800px;
	border: 2px solid black;
}


.slidecontainer{
	position: relative;
	
	border: 2px solid black;
	top: 100px;
	left: 150px;
	
}

#btnUnknown{
	background-color: #4EC5DB;
}

#btnNOI{
	background-color: #EE6B6C;

}

#btnBird{
	background-color:#F8DD62;

}

#btnHuman{
	background-color: #4FBE95;
}


